* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    color: whitesmoke;
}

body {
    background-color: gray;
}

.radio-button {
    color: whitesmoke;
}

.Name {
    color: cyan;
}